################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FluentValidationWorkshop
/API/bin/Debug/net9.0
/API/obj
/Domain/bin/Debug/net9.0
/Domain/obj
/MinimalAPI/bin/Debug/net9.0
/MinimalAPI/obj
/Validator/bin/Debug/net9.0
/Validator/obj
/.vs/ProjectEvaluation
/src/API/bin/Debug/net9.0
/src/API/obj
/src/Libraries/Domain/bin/Debug/net9.0
/src/Libraries/Domain/obj
/src/Libraries/Validator/bin/Debug/net9.0
/src/Libraries/Validator/obj
/src/MinimalAPI/bin/Debug/net9.0
/src/MinimalAPI/obj
